body {
  border: 3px solid rgb(141, 138, 138);
  margin-left: 100px;
  margin-right: 100px;
}
h1{
  text-align: center;
}
h4{
  margin-left: 30px;
}

button{
  margin-left: 30px;
  border-radius: 40px;
}