body {
    background-image: url('../img/pattern.jpg');
    margin: 0;
    padding: 0;
}


/*navbar */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 70px;
    top: 0;
}

.nav {
    float: right;
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: -1100px;
}

#logo {
    float: left;
    margin-left: -1100px;
}

a {
    margin: 15px;
    color: #394be9;
    text-decoration: none;
    text-transform: uppercase;
}

section {
    background: white;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 110px;
}

h1 {
    text-align: center;
}

#article-list {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#article-list a {
    color: black;
    font-weight: bold;
}


/* footer */

footer {
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
}